/*

	Proyecto: Servicio Comunitario - Liceo Modesto Silva - Cumana - Venezuela

	Maquetado por: @01Comandos

	Fecha: 20/02/2016;

-------------------------------------------------------------------------
-------------------------------------------------------------------------*/

/*
	IMPORTACIONES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
@import url("style-icons.css");

@font-face{
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
	font-family: 'MyriadPro-Semibold';
	src: url('../fonts/MyriadPro-Semibold.otf');
}

/*
	INDEX
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
body{
	font-size: 16px;
	margin: 0;
}

header{
	position: relative;
	margin-bottom: 3em;
	height: 32em;
}

.header-container{
	text-align: center;
	background: rgba(255,255,255,0.8);
	position: relative;
	z-index: 3;
}

.header-container .logo{
	width: 8em;
	margin: 0 auto;
	position: relative;
	top: 1em;
}

.header-container .logo img{
	width: 100%;
}

.socialMedia{
	float: right;
	margin-right: 20%;
	margin-top: -7em;
}

.socialMedia a{
	text-decoration: none;
	margin-left: 0.3em;
}

.socialMedia a span{
	font-size: 1.3em;
}

.icon-iconos_linkedin{
	font-size: 1.6em !important;
}

nav{
	background: rgba(248, 152, 41, 0.8);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
	z-index: 2;
}

nav ul{
	margin: 0;
}

nav ul li{
	list-style: none;
	display: inline-block;
}

nav ul li a{
	color: white;
	font-size: 1em;
	font-family: 'Roboto-Medium',sans-serif;
	text-decoration: none;
	display: inline-block;
	padding: 0.6em 2em;
	transition: .2s linear;
}

nav ul li a:hover{
	background: red;
}

.promocional{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.promocional img{
	height: 32em;
	width: 100%;
}

.promocional-text{
	color: white;
	width: 24em;
	font-family: 'Roboto-Medium',sans-serif;
	position: absolute;
	top: 15em;
	left: 25%;
}

.promocional-text h1{
	margin: 0;
	font-size: 1.7em;
	background: #29abe2;
	text-align: center;
	padding: .5em;
}

.promocional-text h3{
	margin: 0;
	font-size: 1em;
	background: #ff931e;
	padding: .3em;
}

.sobreNosotros{
	max-width: 70%;
	text-align: center;
	margin: 0 auto;
}

p{
	font-family: 'Roboto-Light',sans-serif;
	font-size: 1em;
	line-height: 1.6em;
	margin-top: 0;
}

.sobreNosotros h2{
	font-family: 'MyriadPro-Semibold',sans-serif;
	font-size: 1.5em;
	margin-bottom: 0.3em;
}

.novedades{
	margin: 1em auto;
	max-width: 80%;
}

.novedades .title-section{
	border-bottom: 3px solid #ff931e
}

.novedades .title-section h4{
	font-size: 1em;
	font-family: 'Roboto-Regular',sans-serif;
	margin: 0 0 0.5em 0.6em;
}

#novedades:before{
	content: url("../img/iconos_reloj.svg");
	width: 1.5em;
	margin-right: 0.2em;
	display: inline-block;
	position: relative;
	top: 0.3em;
}

#especialidades:before{
	content: url("../img/iconos_mochila.svg");
	width: 1.5em;
	margin-right: 0.2em;
	display: inline-block;
	position: relative;
	top: 0.3em;
}

.novedades-item{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.novedades-item .item{
	width: 30%;
	padding-top: 1em;
}

.novedades-item .item:nth-child(2n){
	margin: 0 1em;
}

.novedades-item .item h2{
	margin-bottom: 0.4em;
	font-size: 1.2em;
	font-family: 'MyriadPro-Semibold',sans-serif;
	text-align: center; 
}

.novedades-item .item h2:before{
	content: url("../img/iconos_pizza.svg");;
	display: inline-block;
	margin-right: 0.2em;
	position: relative;
	top: 0.3em;
	width: 1.5em;
}